@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
*{
    font-family: cursive;
}

		
.bungee-regular {
    font-family: "Bungee", cursive;
    font-weight: 400;
    font-style: normal;
}